{
  "extends": ["airbnb", "prettier"],
  "globals": {
    "document": true,
    "window": true
  },
  "plugins": ["babel"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true,
      "classes": true,
      "spread": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "react/jsx-max-props-per-line": [2, {
      "maximum": 4,
      "when": "always"
    }],
    "react/forbid-prop-types": ["any"],
    "import/prefer-default-export": "off",
    "no-unused-vars": "warn"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
