$gutter-unit: 4px;
$max-width: $gutter-unit * 260;

$spacing: $gutter-unit * 2;

$spacing-form: $spacing * 2;
$spacing-form-field: $spacing * 3;
$spacing-form-label: $spacing / 2;
$spacing-form-element: $spacing;
