.App {
  min-width: 500px;
  width: 50%;
  &__media {
    height: 400px;
  }
  &__media-inner {
    height: 100%;
    position: relative;
  }
  &__media-overlay {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__media-report {
    position: relative;
  }
  &__mapstylepicker {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  &__notfound {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 900;
    left: 18px;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.9);
    top: 18px;
  }
  &__field {
    margin-bottom: 16px !important;
  }
  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
