.App {
  margin: 32px;
  width: 70%;
  &__map {
    background-color: #000000;
  }
  &__map-container--day {
    opacity: 0.95;
  }
  &__media-overlay {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__media-report {
    position: relative;
  }
  &__mapstylepicker {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  &__notfound {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 900;
    left: 18px;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.9);
    top: 18px;
  }
  @media screen and (max-width: 1140px) {
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    margin: 16px;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    margin: 8px;
    width: 100%;
    &__media {
      padding-top: 56.25%;
      position: relative;
    }
    &__map {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  @media screen and (max-width: 600px) {
    &__media {
      padding-top: 70.25%;
    }
  }
  @media screen and (min-width: 600px) {
    &__media {
      height: 400px;
    }
    &__map {
      height: 100%;
      position: relative;
    }
  }
  @media screen and (min-width: 1140px) {
    &__media {
      height: 500px;
    }
  }
}
