.Report {
  &__icon {
    height: 71px;
    margin-left: -2px;
    width: 74px;
  }
  &__info {
    color: #FFFFFF;
    left: 22px;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.9);
    top: 11px;
  }
  &__temperature {
    display: inline-block;
    font-size: 49px;
    font-weight: 900;
    position: relative;
    top: -29px;
  }
  &__location {
    font-size: 25px;
    font-weight: 900;
  }
  @media screen and (max-width: 800px) {
    &__icon {
      height: 48px;
      width: 50px;
    }
    &__temperature {
      font-size: 35px;
      top: -17px;
    }
    &__location {
      font-size: 21px;
    }
    &__country {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 460px) {
    &__info {
      left: 8px;
      top: 2px;
    }
    &__icon {
      width: 50px;
    }
    &__temperature {
      font-size: 29px;
    }
    &__location {
      font-size: 18px;
    }
    &__country {
      font-size: 14px;
    }
  }
}
