.Report {
  &__icon {
    height: auto;
    left: 93px;
    position: absolute;
    top: 0;
    width: 74px;
  }
  &__info {
    color: #FFFFFF;
    left: 22px;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.9);
    top: 11px;
  }
  &__temperature {
    font-size: 45px;
    font-weight: 900;
  }
  &__location {
    font-size: 25px;
    font-weight: 900;
  }
  &__country {
    font-size: 20px;
    font-weight: 700;
  }
}
